<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maple.ZUI-Admin</title>
    <!-- 第三方组件样式 -->
    <link href="../static/global/zui/css/zui.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Maple.ZUI-Admin</h1>
    <!-- 在此处编码你的创意 --> 
这种
    <!-- 依赖的第三方JS组件 -->
    <script src="../static/global/jquery/jquery.js"></script>
    <script src="../static/global/zui/js/zui.min.js"></script>
  </body>
</html>