<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maple.Bootstrap-Admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="fengqinhua2016@163.com" name="author" />
    <!-- 第三方组件样式 -->
    <link href="../static/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../static/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- 自定义的CSS组件 -->
    <link href="../static/global/css/app.css" rel="stylesheet">
    <link href="../static/layouts/layout-default/css/layout.css" rel="stylesheet">
    <link id="maple-theme" href="../static/layouts/layout-default/css/themes/blue.css" rel="stylesheet">
    <!-- 网页图标 -->
    <link rel="shortcut icon" href="../favicon.ico" />
    <!--[if lt IE 9]>
            <script src="../static/global/plugins/ieonly/html5shiv.js"></script>
            <script src="../static/global/plugins/ieonly/respond.js"></script>
            <script src="../static/global/plugins/ieonly/excanvas.js"></script>
      <![endif]-->
</head>

<body>
    <noscript>
        <div style="position: absolute; z-index: 100000; height: 2046px; top: 0px; left: 0px;
                  width: 100%; background: white; text-align: center;">
            <img src="../static/global/img/noscript.gif" alt='抱歉，请开启脚本支持！' />
        </div>
    </noscript>
    <!--[if lt IE 8]>
        <div class="alert alert-danger text-center" style="margin-bottom: 0;border-radius: 0;">您正在使用 <strong>过时的</strong> 浏览器. 是时候 <a href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>
    <![endif]-->
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#page-navbar-collapse">
                <span class="sr-only">导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index-default.html">
                <img alt="Maple Logo" src="../static/layouts/layout-default/img/logo64.png" class="hidden-xs">
                <span>Bootstrap-Admin</span>
            </a>
            <ul class="collapse navbar-collapse nav navbar-nav top-menu pull-right">
                <li>
                    <a href="#">
                        <span>
                            <i class="glyphicon glyphicon-bell"></i>
                            <span class="label label-danger label-pill up">5</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span>
                            <i class="glyphicon glyphicon-envelope"></i>
                            <span class="label label-success label-pill up">2</span>
                        </span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i> 管理员
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="#">个人信息</a>
                        </li>
                        <li>
                            <a href="#">修改密码</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">安全退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- 内容 -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-lg-2">
                <div class="sidebar-nav collapse" id="page-navbar-collapse">
                    <nav class="menu" data-ride="menu">
                        <ul id="treeMenu" class="tree tree-menu" data-ride="tree">
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-th"></i>系统首页</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-cog"></i>常用页面</a>
                                <ul>
                                    <li>
                                        <a href="#">空白页</a>
                                    </li>
                                    <li>
                                        <a href="#">登录</a>
                                    </li>
                                    <li>
                                        <a href="#">404错误</a>
                                    </li>
                                    <li>
                                        <a href="#">系统设置</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="open">
                                <a href="#">
                                    <i class="glyphicon glyphicon-time"></i>组件示例</a>
                                <ul>
                                    <li class="active">
                                        <a href="#">列表页面1</a>
                                    </li>
                                    <li>
                                        <a href="#">列表页面2</a>
                                    </li>
                                    <li>
                                        <a href="#">表单页面1</a>
                                    </li>
                                    <li>
                                        <a href="#">表单页面2</a>
                                    </li>
                                    <li>
                                        <a href="#">弹出窗体</a>
                                    </li>
                                    <li>
                                        <a href="#">系统提示</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="open">
                                <a href="#">
                                    <i class="glyphicon glyphicon-tasks"></i>多级菜单</a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="glyphicon glyphicon-play"></i>第二级1</a>
                                        <ul>
                                            <li>
                                                <a href="#">第三级1</a>
                                            </li>
                                            <li>
                                                <a href="#">第三级2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="glyphicon glyphicon-play"></i>第二级2</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="glyphicon glyphicon-ok"></i>第二级3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-10 col-sm-10">
                右侧
            </div>
        </div>
    </div>
    </div>
    <!-- 底部 -->
    <!-- 依赖的第三方JS组件 -->
    <script src="../static/global/plugins/jquery/jquery.js"></script>
    <script src="../static/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- 自定义的JS组件 -->
    <script src="../static/global/js/app.js"></script>
    <script src="../static/layouts/layout-default/js/layout.js"></script>
</body>

</html>