<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="fengqinhua2016@163.com" name="author" />
    <!-- 第三方组件样式 -->
    <link href="../static/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../static/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- 自定义的CSS组件 -->
    <link href="../static/global/css/maple.css" rel="stylesheet">
    <link href="../static/layouts/layout-default/css/layout.css" rel="stylesheet">
    <link id="maple-theme" href="../static/layouts/layout-default/css/themes/blue.css" rel="stylesheet">
    <!-- 网页图标 -->
    <link rel="shortcut icon" href="../favicon.ico" />
    <!--[if lt IE 9]>
            <script src="../static/global/plugins/ieonly/html5shiv.js"></script>
            <script src="../static/global/plugins/ieonly/respond.js"></script>
            <script src="../static/global/plugins/ieonly/excanvas.js"></script>
      <![endif]-->

</head>

<body>
    <div class="navigation-bar">
        <ul class="breadcrumb">
            <li class="active">系统首页</li>
        </ul>
    </div>
    <div id="pagecontent">
        <h1>this is home page！</h1>
    </div>
</body>

</html>