<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>列表页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="fengqinhua2016@163.com" name="author" />
    <!-- 第三方组件样式 -->
    <link href="../static/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../static/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/global/plugins/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
    <link href="../static/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" />
    <link href="../static/global/plugins/nprogress-0.2.0/nprogress.css" rel="stylesheet" />
    <!-- 自定义的CSS组件 -->
    <link href="../static/global/css/maple.css" rel="stylesheet">
    <link href="../static/layouts/layout-default/css/layout.css" rel="stylesheet">
    <link id="maple-theme" href="../static/layouts/layout-default/css/themes/blue.css" rel="stylesheet">
    <!-- 网页图标 -->
    <link rel="shortcut icon" href="../favicon.ico" />
    <!--[if lt IE 9]>
        <script src="../static/global/plugins/ieonly/html5shiv.js"></script>
        <script src="../static/global/plugins/ieonly/respond.js"></script>
        <script src="../static/global/plugins/ieonly/excanvas.js"></script>
    <![endif]-->
</head>

<body>
    <div class="x_panel">
        <div class="x_title">
            <h2>示例模块
                <small>表单页面1</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a href="javascript:void(Layout.refrashModule())">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form class="form-horizontal" id="bssw-form">
                <input type="hidden" id="hf_PK" />
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bssw-f-softwareNo">XX编号
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="bssw-f-softwareNo" name="bssw-f-softwareNo" required="required" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bssw-f-name">XX名称
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="bssw-f-name" name="bssw-f-name" required="required" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bssw-f-versionName">XX版本
                        <span class="unrequired"></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="bssw-f-versionName" name="bssw-f-versionName" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bssw-f-classify">XX分类
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="bssw-f-classify" name="bssw-f-classify" required="required" class="form-control chosen-select">
                            <option value=""></option>
                            <option value="分类1">分类1</option>
                            <option value="分类2">分类2</option>
                            <option value="分类3">分类3</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bssw-f-type">XX类型
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="bssw-f-type" name="bssw-f-type" required="required" class="form-control chosen-select">
                            <option value=""></option>
                            <option value="类型1">类型1</option>
                            <option value="类型2">类型2</option>
                            <option value="类型3">类型3</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bssw-f-productName">产品名称
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="bssw-f-productName" name="bssw-f-productName" required="required" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bssw-f-vendor">供应商
                        <span class="unrequired"></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="input-group">
                            <select id="bssw-f-source" name="bssw-f-vendor" class="form-control chosen-select">
                                <option value=""></option>
                                <option value="1">金山办公软件</option>
                                <option value="2">微软</option>
                            </select>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-info" id="bssw-f-addVendor">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bssw-f-source">XX来源
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="bssw-f-source" name="bssw-f-source" required="required" class="form-control chosen-select">
                            <option value=""></option>
                            <option value="国内">国内</option>
                            <option value="国外">国外</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bssw-f-distributeDate">发布时间
                        <span class="unrequired"></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="bssw-f-distributeDate" class="form-control date-picker" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bssw-f-architecture">系统架构
                        <span class="unrequired"></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="bssw-f-architecture" name="bssw-f-architecture" class="form-control chosen-select">
                            <option value=""></option>
                            <option value="B/S">B/S</option>
                            <option value="C/S">C/S</option>
                            <option value="混合">混合</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bssw-f-source">扫描设置
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="input-group skin skin-minimal">
                            <div class="icheck-inline">
                                <label>
                                    <input type="radio" name="bssw-f-isscan" checked class="flat"> 扫描 </label>
                                <label>
                                    <input type="radio" name="bssw-f-isscan" class="flat"> 不扫描 </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button class="btn btn-primary" id="bssw-f-save" type="button"> 保存
                        </button>
                        <button class="btn btn-default" id="bssw-f-saveandadd" type="button">保存并新增
                        </button>
                        <button class="btn btn-default" id="bssw-f-cancel" type="button">返回
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="../static/pages/baseVendorPlug.js"></script>
    <script src="../static/pages/baseExample1_form.js"></script>
</body>

</html>