<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="fengqinhua2016@163.com" name="author" />
    <!-- 第三方组件样式 -->
    <link href="../static/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../static/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- 自定义的CSS组件 -->
    <link href="../static/layouts/layout-default/css/error.css" rel="stylesheet">
    <!-- 网页图标 -->
    <link rel="shortcut icon" href="../favicon.ico" />
    <!--[if lt IE 9]>
            <script src="../static/global/plugins/ieonly/html5shiv.js"></script>
            <script src="../static/global/plugins/ieonly/respond.js"></script>
            <script src="../static/global/plugins/ieonly/excanvas.js"></script>
      <![endif]-->
</head>

<body class=" page-404-full-page">
    <div class="row">
        <div class="col-md-12 page-404">
            <div class="number font-red"> 404 </div>
            <div class="details">
                <h3>我们没有找到你想要的页面..</h3>
                <p> 请联系系统管理人员.
                    <br/> </p>
                <p>
                    <br/>
                    <a href="index-default.html" class="btn btn-primary btn-lg" role="button">返回主页</a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>