<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>列表页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="fengqinhua2016@163.com" name="author" />
    <!-- 第三方组件样式 -->
    <link href="../static/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../static/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/global/plugins/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
    <link href="../static/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" />
    <link href="../static/global/plugins/nprogress-0.2.0/nprogress.css" rel="stylesheet" />
    <!-- 自定义的CSS组件 -->
    <link href="../static/global/css/maple.css" rel="stylesheet">
    <link href="../static/layouts/layout-default/css/layout.css" rel="stylesheet">
    <link id="maple-theme" href="../static/layouts/layout-default/css/themes/blue.css" rel="stylesheet">
    <!-- 网页图标 -->
    <link rel="shortcut icon" href="../favicon.ico" />
    <!--[if lt IE 9]>
        <script src="../static/global/plugins/ieonly/html5shiv.js"></script>
        <script src="../static/global/plugins/ieonly/respond.js"></script>
        <script src="../static/global/plugins/ieonly/excanvas.js"></script>
    <![endif]-->
</head>

<body>
    <div class="form-horizontal" id="sgys-form">
        <input type="hidden" id="hf_PK" />
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sgys-f-vendorName">名称
                <span class="required">*</span>
            </label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <input type="text" id="sgys-f-vendorName" required="required" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sgys-f-vendorShort">简称
                <span class="unrequired"></span>
            </label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <input type="text" id="sgys-f-vendorShort" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sgys-f-address">详细地址
                <span class="unrequired"></span>
            </label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <input type="text" id="sgys-f-address" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sgys-f-contactMode">联系人
                <span class="required">*</span>
            </label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <input type="text" id="sgys-f-contactMode" required="required" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sgys-f-contactMode">联系方式
                <span class="unrequired"></span>
            </label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <input type="text" id="sgys-f-contactMode" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sgys-f-fax">传真
                <span class="unrequired"></span>
            </label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <input type="text" id="sgys-f-fax" class="form-control" />
            </div>
        </div>
    </div>
</body>

</html>