<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>列表页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="fengqinhua2016@163.com" name="author" />
    <!-- 第三方组件样式 -->
    <link href="../static/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../static/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/global/plugins/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
    <link href="../static/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" />
    <link href="../static/global/plugins/nprogress-0.2.0/nprogress.css" rel="stylesheet" />
    <!-- 自定义的CSS组件 -->
    <link href="../static/global/css/maple.css" rel="stylesheet">
    <link href="../static/layouts/layout-default/css/layout.css" rel="stylesheet">
    <link id="maple-theme" href="../static/layouts/layout-default/css/themes/blue.css" rel="stylesheet">
    <!-- 网页图标 -->
    <link rel="shortcut icon" href="../favicon.ico" />
    <!--[if lt IE 9]>
            <script src="../static/global/plugins/ieonly/html5shiv.js"></script>
            <script src="../static/global/plugins/ieonly/respond.js"></script>
            <script src="../static/global/plugins/ieonly/excanvas.js"></script>
      <![endif]-->
</head>

<body>
    <div class="x_panel">
        <div class="x_title">
            <h2>示例模块
                <small>列表页面</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a href="javascript:void(Layout.refrashModule())">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form class="row form-horizontal" id="bssw-s-form">
                <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="bssw-s-name">XX名称</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" id="bssw-s-name" name="bssw-s-name" placeholder="XX名称" />
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="bssw-s-productName">产品名称</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" id="bssw-s-productName" name="bssw-s-productName" placeholder="产品名称">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="bssw-s-vendor">供应商</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" id="bssw-s-vendor" name="bssw-s-vendor" placeholder="供应商" />
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="bssw-s-classify">XX分类</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <select id="bssw-s-classify" name="bssw-s-classify" class="form-control  chosen-select">
                            <option value=""></option>
                            <option value="分类1">分类1</option>
                            <option value="分类2">分类2</option>
                            <option value="分类3">分类3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="bssw-s-type">XX类型</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <select id="bssw-s-type" name="bssw-s-type" class="form-control  chosen-select">
                            <option value=""></option>
                            <option value="类型1">类型1</option>
                            <option value="类型2">类型2</option>
                            <option value="类型3">类型3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 form-group ">
                    <div class="col-md-4 col-sm-4 col-xs-12"></div>
                    <div class="col-md-8 col-sm-8 col-xs-12 text-left">
                        <button class="btn btn-primary" id="bssw-search" type="button">
                            <i class="glyphicon glyphicon-search"></i> 搜索
                        </button>
                    </div>
                </div>
            </form>
            <div id="bssw-toolbar">
                <div class="btn-group">
                    <button class="btn btn-primary" id="bssw-add" type="button">
                        <i class="glyphicon glyphicon-plus"></i> 新增
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" id="bssw-sync" type="button">
                        <i class="glyphicon glyphicon-cloud-download"></i> 同步
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" id="bssw-export" type="button">
                        <i class="glyphicon glyphicon-export"></i> 导出
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" id="bssw-import" type="button">
                        <i class="glyphicon glyphicon-import"></i> 导入
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="bssw-table"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden">
        <div id="bssw-export-select">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-6">
                        <label>
                            <input type="radio" value="1" name="bssw-exporttype" checked class="flat"> 完整的数据包 </label>
                    </div>
                    <div class="col-xs-6">
                        <label>
                            <input type="radio" value="2" name="bssw-exporttype" class="flat"> 信息采集工具所需数据包 </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label>
                            <input type="radio" value="3" name="bssw-exporttype" class="flat"> 检查工具所需的数据包（UTF8） </label>
                    </div>
                    <div class="col-xs-6">
                        <label>
                            <input type="radio" value="4" name="bssw-exporttype" class="flat"> 检查工具所需的数据包（GB2312） </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/pages/baseExample1.js"></script>
</body>

</html>