<!DOCTYPE html>
<html lang="zh-CN">
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


<body style="height: auto; min-height: 100%;">
<div class="alert alert-danger">
    您正在使用
    <strong>过时的</strong> 浏览器. 是时候
    <a href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>

<div class="alert alert-danger text-center" id="browseHappyTip" style="position: relative; z-index: 99999"></div>

<script src="../static/global/plugins/jquery/jquery.js"></script>
<script src="../static/global/plugins/zui/js/zui.min.js"></script>
</body>

</html>