<!DOCTYPE html>
<html lang="zh-CN">
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/global/css/app.css" rel="stylesheet">
 
<body style="height: auto; min-height: 100%;">
    <!-- Begin page content -->
    <div class="container">
        <nav class="menu" data-ride="menu" style="width: 200px">
            <ul id="treeMenu" class="tree-menu" data-ride="tree">
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-chevron-right"></i>首页</a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon  icon-user"></i>个人资料</a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon icon-time"></i>更新时间</a>
                    <ul>
                        <li>
                            <a href="#">今天</a>
                        </li>
                        <li>
                            <a href="#">明天</a>
                        </li>
                        <li>
                            <a href="#">昨天</a>
                        </li>
                        <li>
                            <a href="#">本周</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon icon-trash"></i>垃圾篓</a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon icon-list-ul"></i>全部</a>
                </li>
                <li class="open">
                    <a href="#">
                        <i class="glyphicon icon-tasks"></i>状态</a>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="glyphicon icon-circle-blank"></i>已就绪</a>
                            <ul>
                                <li>
                                    <a href="#">已取消</a>
                                </li>
                                <li>
                                    <a href="#">已关闭</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon icon-play-sign"></i>进行中</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon icon-ok-sign"></i>已完成</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
        </div>
    </footer>

    <script src="../static/global/plugins/jquery/jquery.js"></script>
    <script src="../static/global/js/app.js"></script>


    <!-- <script src="../static/global/plugins/bootstrap/js/bootstrap.min.js"></script> -->
</body>

</html>