/* 通用 */

/* label */

.label-pill {
  padding: 1px 5px;
}

.label.up {
  position: relative;
  top: -10px;
  margin-left: -.9em;
  border-radius: 15px;
}

/* 顶部 */
.navbar {
  border-width: 0;
  border-radius: 0;
}

.navbar-inner {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 30px;
  height: 60px;
}

.navbar-brand {
  letter-spacing: 2px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  width: 253px;
  font-size: 17px;
}

.navbar-brand img {
  float: left;
  height: 28px;
  width: 28px;
  margin-top: -5px;
  margin-right: 5px;
}

.navbar-brand span {
  float: left;
}

/* 左侧菜单栏 */
.sidebar-nav {
  min-height: 0;
  box-shadow: 0 0 10px #BDBDBD;
  border-radius: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
  max-height: none;
}
@media only screen and (min-width: 768px) {
  .sidebar-nav.collapse {
    display: block;
    visibility: visible;
  }
}