/* 通用 */

div.center,
p.center,
img.center {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important;
  display: block;
  text-align: center;
}

/* label */

.label-pill {
  padding: 1px 5px;
}

.label.up {
  position: relative;
  top: -10px;
  margin-left: -.9em;
  border-radius: 15px;
}

/* 顶部 */

.navbar {
  border-width: 0;
  border-radius: 0;
}

.navbar-inner {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 30px;
  height: 60px;
}

.navbar-brand {
  letter-spacing: 2px;
  width: 253px;
  font-size: 17px;
}

.navbar-brand img {
  float: left;
  height: 28px;
  width: 28px;
  margin-top: -5px;
  margin-right: 5px;
}

.navbar-brand span {
  float: left;
}

/* 左侧菜单栏 */

.sidebar-nav {
  min-height: 0;
  box-shadow: 0 0 10px #BDBDBD;
  border-radius: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
  max-height: none;
}

@media only screen and (min-width: 768px) {
  .sidebar-nav.collapse {
    display: block;
    visibility: visible;
  }
}

/* 表单页面 */

.x_panel {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  border-radius: 5px;
  box-shadow: 0 0 10px #BDBDBD;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  opacity: 1;
  transition: all .2s ease;
}

.x_title {
  margin-bottom: 10px;
  padding: 1px 5px 6px;
  border-bottom: 2px solid #E6E9ED;
}

.x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width:1200px) {
  .x_title h2 {
    width: 62%;
    font-size: 17px;
  }
}

@media (max-width:1270px) and (min-width:192px) {
  .x_title h2 small {
    display: none;
  }
}

.x_content {
  padding: 0 5px 6px;
  /* float: left; */
  clear: both;
  margin-top: 5px;
}

.x_content h4 {
  font-size: 16px;
  font-weight: 500;
}

.x_title h2 small {
  margin-left: 10px;
}

.x_title span {
  color: #BDBDBD;
}

.panel_toolbox {
  float: right;
  min-width: 50px;
}

.panel_toolbox>li {
  float: left;
  cursor: pointer;
}

.panel_toolbox>li>a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}

.panel_toolbox>li>a:hover {
  background: #F5F7FA;
}

.ln_solid {
  border-top: 1px solid #e5e5e5;
  color: #fff;
  background-color: #fff;
  height: 1px;
  margin: 20px 0
}

.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 10px;
}

.form-horizontal .control-label {
  padding-top: 8px;
}

.control-label .unrequired {
  margin-left: 5px;
}

.icheck-inline {
  margin-top: 8px;
}

.icheck-inline>label {
  margin-left: 15px;
}

/* 异常提示 */

.error-text {
  padding: 120px 0;
  display: block;
  font-size: 13px;
  line-height: 1.53846154;
  text-align: center;
}

.error-text .glyphicon-exclamation-sign {
  font-size: 42px;
  display: block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin: 0 auto;
}

/* Firefox 浏览器对 fieldset 元素设置了一些影响 width 属性的样式，
   导致响应式表格出现问题。可以使用下面提供的针对 Firefox 的 hack 代码解决 */

@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}