   /* 树形菜单 */

   .tree {
       padding-left: 0;
   }

   .tree ul {
       position: relative;
       display: none;
       padding-left: 0;
   }

   .tree li {
       position: relative;
       padding: 2px 0 2px 20px;
       list-style: none;
   }

   .tree li:before {
       position: absolute;
       top: 10px;
       left: 8px;
       display: block;
       width: 3px;
       height: 3px;
       content: ' ';
       background-color: #999;
   }

   .tree li.has-list:before {
       display: none;
   }

   .tree li>.list-toggle {
       position: absolute;
       top: -1px;
       left: 0;
       z-index: 10;
       width: 20px;
       line-height: 24px;
       color: #808080;
       text-align: center;
       cursor: pointer;
   }

   .tree li>.list-toggle:before {
       content: '\002b';
   }

   .tree li>.list-toggle:hover,
   .tree li>.list-toggle:active {
       color: #0d3d88;
   }

   .tree li.open>ul {
       display: block;
   }

   .tree li.open>.list-toggle:before {
       content: '\2212';
   }

   .tree-actions {
       display: inline-block;
       margin-left: 5px;
       opacity: 0;
       -webkit-transition: opacity .1s;
       -o-transition: opacity .1s;
       transition: opacity .1s;
   }

   .tree-action {
       display: inline-block;
       margin-left: 5px;
       color: #808080;
   }

   .tree-action:hover,
   .tree-action:active {
       text-decoration: none;
   }

   .tree li:hover>.tree-actions,
   .tree-item-wrapper:hover>.tree-actions {
       opacity: 1;
   }

   .tree-drag-holder {
       background-color: #ebf2f9;
       opacity: .4;
   }

   .tree .sort-handler {
       cursor: move;
   }

   .tree-animate ul {
       opacity: 0;
       -webkit-transition: opacity .2s cubic-bezier(.175, .885, .32, 1), -webkit-transform .2s cubic-bezier(.175, .885, .32, 1);
       -o-transition: opacity .2s cubic-bezier(.175, .885, .32, 1), -o-transform .2s cubic-bezier(.175, .885, .32, 1);
       transition: opacity .2s cubic-bezier(.175, .885, .32, 1), -webkit-transform .2s cubic-bezier(.175, .885, .32, 1);
       transition: opacity .2s cubic-bezier(.175, .885, .32, 1), transform .2s cubic-bezier(.175, .885, .32, 1);
       transition: opacity .2s cubic-bezier(.175, .885, .32, 1), transform .2s cubic-bezier(.175, .885, .32, 1), -webkit-transform .2s cubic-bezier(.175, .885, .32, 1), -o-transform .2s cubic-bezier(.175, .885, .32, 1);
       -webkit-transform: scale(1, .5);
       -ms-transform: scale(1, .5);
       -o-transform: scale(1, .5);
       transform: scale(1, .5);
   }

   .tree-animate li.open.in>ul {
       opacity: 1;
       -webkit-transform: scale(1, 1);
       -ms-transform: scale(1, 1);
       -o-transform: scale(1, 1);
       transform: scale(1, 1);
   }

   .tree-animate.tree-lines li.has-list.open>ul:after {
       top: -5px;
       bottom: 12px;
       left: -11px;
   }

   .tree-menu {
       overflow: hidden;
       border: 1px solid #ddd;
       border-radius: 4px;
   }

   .tree-menu li {
       padding: 0;
   }

   .tree-menu li:before {
       display: none;
   }

   .tree-menu li>a {
       display: block;
       padding: 8px;
       margin-bottom: -1px;
       color: #353535;
   }

   .tree-menu li>a>.glyphicon {
       display: inline-block;
       width: 20px;
       color: inherit;
       text-align: left;
       opacity: .6;
   }

   .tree-menu li>a:hover,
   .tree-menu li>a:active,
   .tree-menu li>a:focus {
       color: #0d3d88;
       text-decoration: none;
       background-color: rgba(0, 0, 0, .04);
   }

   .tree-menu li>a:hover>.glyphicon,
   .tree-menu li>a:active>.glyphicon,
   .tree-menu li>a:focus>.glyphicon {
       opacity: .9;
   }

   .tree-menu li .list-toggle {
       top: 6px;
       right: 4px;
       left: auto;
       width: 24px;
       height: 24px;
       filter: alpha(opacity=45);
       opacity: .45;
       -webkit-transition: all .3s;
       -o-transition: all .3s;
       transition: all .3s;
   }

   .tree-menu li .list-toggle:before {
       content: '\e080';
   }

   .tree-menu li.open>.list-toggle {
       filter: alpha(opacity=75);
       opacity: .75;
       -webkit-transform: rotate(90deg);
       -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
       transform: rotate(90deg);
   }

   .tree-menu li.open>.list-toggle:before {
       content: '\e080';
   }

   .tree-menu li>ul {
       background-color: rgba(0, 0, 0, .04);
   }

   .tree-menu li li a {
       padding-left: 28px;
       border-top-color: transparent;
       border-bottom-color: transparent;
   }

   .tree-menu li li li a {
       padding-left: 48px;
   }

   .tree-menu li li li li a {
       padding-left: 68px;
   }

   .tree-menu li.active>a {
       color: #fff;
       background-color: #3280fc;
       border-color: #3280fc;
   }

   .tree-menu li.active>.list-toggle {
       color: #fff;
   }

   .tree-menu>li>a {
       border: 1px solid transparent;
       border-bottom-color: #ddd;
   }

   .tree-menu>li.open+li>a {
       border-top-color: #ddd;
   }

   /* 页面加载 */

   .loading-message {
       display: inline-block;
       min-width: 125px;
       margin-left: -60px;
       padding: 10px;
       margin: 0 auto;
       color: #000 !important;
       font-size: 13px;
       font-weight: 400;
       text-align: center;
       vertical-align: middle;
   }

   .loading-message.loading-message-boxed {
       border: 1px solid #ddd;
       background-color: #eee;
       -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       -ms-border-radius: 4px;
       -o-border-radius: 4px;
       border-radius: 4px;
       -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
       box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
   }

   .loading-message>span {
       line-height: 20px;
       vertical-align: middle;
   }

   .page-loading {
       -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       -ms-border-radius: 4px;
       -o-border-radius: 4px;
       border-radius: 4px;
       position: fixed;
       top: 50%;
       left: 50%;
       min-width: 125px;
       margin-left: -60px;
       margin-top: -30px;
       padding: 7px;
       text-align: center;
       color: #333;
       font-size: 13px;
       border: 1px solid #ddd;
       background-color: #eee;
       vertical-align: middle;
       -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
       box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
   }

   .page-loading>span {
       line-height: 20px;
       vertical-align: middle;
   }
 