/* treemenu */
.tree-menu li>a:hover,
.tree-menu li>a:active,
.tree-menu li>a:focus {
    color: #555;
}

.tree-menu li.active>a {
    color: #fff;
    background-color: #2196f3;
    border-color: #2196f3; 
}


/* nprogress */

#nprogress .bar {
    background: #2196f3;
}

#nprogress .peg {
    box-shadow: 0 0 10px #dd5600, 0 0 5px #dd5600;
}

#nprogress .spinner-icon {
    border-top-color: #dd5600;
    border-left-color: #dd5600;
}

/* Button */
 

/* bootstrap-table */
.bootstrap-table a.bnt  {
    color: #29e; 
    text-decoration: none;
    outline: none;
    cursor:pointer;
}
.bootstrap-table .bnt a:hover,a:focus {
    color: #29e;
    outline: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-group.open .dropdown-toggle.btn-primary {
    background-color:#2fa4e7;
    border:#2fa4e7;
}

.x_title h2 { 
    color:#444;
    font-family:'Microsoft YaHei';
}


.chosen-container .chosen-results li.highlighted {
    background-color:#6fbbf7;
}

#bssw-s-name .form-control input{ border:0px;border-bottom:#000000 1px solid;}