/* treemenu */
.tree-menu li>a:hover,
.tree-menu li>a:active,
.tree-menu li>a:focus {
    color: #555;
}

.tree-menu li.active>a {
    color: #fff;
    background-color: #d6220e;
    border-color: #d6220e; 
}


/* nprogress */

#nprogress .bar {
    background: #d6220e;
}

#nprogress .peg {
    box-shadow: 0 0 10px #dd5600, 0 0 5px #dd5600;
}

#nprogress .spinner-icon {
    border-top-color: #dd5600;
    border-left-color: #dd5600;
}

/* Button */
 

/* bootstrap-table */
.bootstrap-table a.bnt  {
    color: #d6220e; 
    text-decoration: none;
    outline: none;
    cursor:pointer;
}
.bootstrap-table .bnt a:hover,a:focus {
    color: #e56f62;
    outline: none;
}




.x_title h2 { 
    color:#555;
    font-family:'Microsoft YaHei';
}

.btn-primary:hover, .btn-primary:focus, .btn-group.open .dropdown-toggle.btn-primary {
    background-color:#86caf1;
    border:#2196f3;
    padding:9px 13px 10px 13px;
}
.chosen-container .chosen-results li.highlighted {
    background-color:#e56f62;
}