/* treemenu */
.tree-menu li>a:hover,
.tree-menu li>a:active,
.tree-menu li>a:focus {
    /*color: #157ab5;*/
    color:#555;
}

.tree-menu li.active>a {
    color: #fff;
    background-color: #e95420;
    border-color: #e95420; 
}


/* nprogress */

#nprogress .bar {
    /*background: #dd5600;*/
    background:#fff;
}

#nprogress .peg {
    box-shadow: 0 0 10px #dd5600, 0 0 5px #dd5600;
}

#nprogress .spinner-icon {
    border-top-color: #dd5600;
    border-left-color: #dd5600;
}

/* Button */
 

/* bootstrap-table */
.bootstrap-table a.bnt  {
    color: #e95420; 
    text-decoration: none;
    outline: none;
    cursor:pointer;
}
.bootstrap-table .bnt a:hover,a:focus {
    color: #e95420;
    outline: none;
}



/* bootstrap-table-fonthover */
.btn-primary {
    background-color:#e95420;
    border-color:#e95420;
}
.btn-primary:hover, .btn-primary:focus, .btn-group.open .dropdown-toggle.btn-primary {
    background-color:#c34113;
    border:#c34113;
    padding:9px 13px;
}


a { 
    color:#e95420;
}

a:hover, a:focus {
    color:#c34113;
}

.chosen-container .chosen-results li.highlighted {
    background-color:#f1906e;
}

.x_title h2 { 
    color:#555;
    font-family:'Microsoft YaHei';
}