/* treemenu */
.tree-menu li>a:hover,
.tree-menu li>a:active,
.tree-menu li>a:focus {
    /*color: #157ab5;*/
    color:#666;
}

.tree-menu li.active>a {
    color: #fff;
    background-color: #333;
    border-color: #333; 
}


/* nprogress */

#nprogress .bar {
    /*background: #dd5600;*/
    background: #fff;
}

#nprogress .peg {
    box-shadow: 0 0 10px #dd5600, 0 0 5px #dd5600;
}

#nprogress .spinner-icon {
    border-top-color: #dd5600;
    border-left-color: #dd5600;
}

/* Button */
 

/* bootstrap-table */
.bootstrap-table a.bnt  {
    /*color: #29e;*/ 
    color:#2fa4e7;
    text-decoration: none;
    outline: none;
    cursor:pointer;
}
.bootstrap-table .bnt a:hover,a:focus {
    color: #29e;
    outline: none;
}

/* bootstrap-table-fonthover */
.btn-primary {
    background-color:#333;
    border-color:#333;
}

a { 
    color:#333;
}

.btn-primary:hover, .btn-primary:focus, .btn-group.open .dropdown-toggle.btn-primary {
    background-color:#666;
    border-color:#666;
}
a:hover, a:focus {
    color:#666;
}

.chosen-container .chosen-results li.highlighted {
    background-color:#999;
}

.x_title h2 { 
    color:#333;
    font-family:'Microsoft YaHei';
}